/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap'); */

:root {
    --color-primary: rgba(8, 166, 228, 1);
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: rgba(251, 59, 100, 1);
    --color-green: rgba(85, 223, 180, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-grey: rgba(165, 165, 165, 1);
    --color-light-grey: rgba(247, 247, 247, 1);
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

