:root {
    --color-primary: rgba(8, 166, 228, 1);
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: rgba(251, 59, 100, 1);
    --color-green: rgba(85, 223, 180, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-grey: rgba(165, 165, 165, 1);
    --color-light-grey: rgba(247, 247, 247, 1);
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/* HEADER */
header {
    height: 70px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.header-container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 300;
    font-family: var(--font-raleway);
    color: var(--color-primary);
}

.header-nav {
    display: flex;
}

.nav-element {
    padding: 0px 25px;
}

.nav-element:last-child {
    padding-right: 0;
}

.nav-link {
    font-size: 11px;
    font-weight: 700;
    color: var(--color-grey);
    letter-spacing: 3.28px;
    text-transform: uppercase;
    padding: 23px 15px;
    border-bottom: 4px solid transparent;
}

.nav-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

/* OPENING SECTION */
.section-opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening-content {
    margin-top: 130px;
    text-align: center;
}

.opening-header {
    font-size: 49px;
    font-family: var(--font-raleway);
}

.opening-text {
    margin-top: 20px;
    margin-bottom: 38px;
}

.btn-opening {
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    padding: 23px 157px;
    background: var(--color-primary);
    display: inline-block;
}

.opening-img {
    width: 100%;
    height: auto;
}

/* Statistics */
.section-statistics {
    margin-top: 100px;
}

.statistics-title {
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: center;
}

.statistics-content-container {
    max-width: 850px;
    margin: 101px auto 121px;

    display: flex;
    justify-content: space-between;
}

.statistics-content {
    max-width: 160px;
    font-family: var(--font-raleway);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.statistics-circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics-img {
    position: absolute;
}

.statistics-content:nth-child(1) .statistics-circle {
    background: var(--color-redish);
}

.satistics-content:nth-child(1) .statistics-img {
    top: 0;
    left: 35%;
}

.statistics-content:nth-child(2) .statistics-circle {
    background: var(--color-primary);
}

.statistics-content:nth-child(2) .statistics-img {
    top: 15px;
    left: 35%;
}

.statistics-content:nth-child(3) .statistics-circle {
    background: var(--color-green);
}

.statistics-content:nth-child(3) .statistics-img {
    top: 8px;
    left: 50%;
}

.statistics-number {
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 800;
    letter-spacing: 5.96px;
    margin-top: 14px;
}

.statistics-description {
    font-size: 17px;
    font-family: var(--font-raleway);
    color: var(--color-grey);
    margin-top: 20px;
}

/* BENEFITS SECTION */
.section-benefits {
    background: var(--color-light-grey);
    padding: 105px 0;
}

.benefits-container {
    padding: 0 100px;
}

.benefits-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    background: var(--color-white);
    border-radius: 5px;
    margin-bottom: 37px;
    border: 1px solid rgba(232, 233, 237, 1);
}

.benefits-text {
    box-sizing: content-box;
    max-width: 416px;
    margin: 90px 36px;
}

.benefits-title {
    font-family: var(--font-raleway);
    font-size: 36px;
}

.benefits-description {
    margin-top: 30px;
    line-height: 22px;
}

.benefits-content-notebook .benefits-line {
    width: 328px;
    height: 4px;
    background: var(--color-redish);
    margin-top: 50px;
}

.benefits-image {
    position: relative;
}

.benefits-content-notebook .benefits-image {
    margin-right: 118px;
    margin-bottom: 38px;
}

.benefits-content-notebook .benefits-image img {
    width: 387px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits-content-notebook .benefits-image::before {
    content: "";
    width: 170px;
    height: 170px;
    background: var(--color-redish);
    border-radius: 41px;
    position: absolute;
    top: -40px;
    right: 0;
    display: block;
    transform: rotate(45deg);
}

.benefits-content-phone {
    flex-direction: row-reverse;
    padding: 0 20px 0 71px;
}

.benefits-content-phone .benefits-image img {
    width: 426px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits-content-phone .benefits-image::before {
    content: "";
    width: 320px;
    height: 320px;
    background: var(--color-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 0;
}

.benefits-content-phone .benefits-image {
    margin-top: 29px;
    margin-bottom: 13px;
}

.benefits-content-phone .benefits-text {
    margin: 69px 0;
}

.benefits-content-phone .benefits-line {
    width: 328px;
    height: 4px;
    background: var(--color-primary);
    margin-top: 50px;
}

.benefits-box-double {
    display: flex;
}

.benefits-box-double > div {
    margin-bottom: 0;
}

.benefits-content-solo {
    max-width: 623px;
}

.benefits-content-solo .benefits-text {
    max-width: none;
    margin: 70px 36px;
}

.benefits-content-solo .benefits-line {
    width: 328px;
    height: 4px;
    background: var(--color-green);
    margin-top: 50px;
}

.benefits-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: var(--color-green);
    border: 1px solid rgba(232, 233, 237, 1);
    margin-left: 61px;
}

.benefits-content-image img {
    width: 296px;
    height: auto;
    margin-top: 98px;
    margin-bottom: 64px;
}

/* PRICING SECTION */
.pricing {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-title {
    font-family: var(--font-raleway);
    font-size: 36px;
}

.pricing-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pricing-box {
    width: 372px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}

.pricing-type {
    font-family: var(--font-raleway);
    font-size: 20px;
    font-weight: bold;
}

.pricing-price {
    font-family: var(--font-open-sans);
    font-size: 46px;
    font-weight: 300;
    margin-top: 20px;
}

.pricing-limited {
    margin-top: 15px;
    font-family: var(--font-raleway);
    font-size: 12px;
    font-weight: bold;
}

.pricing-items {
    text-align: center;
}

.pricing-item {
    font-size: 14px;
    margin-bottom: 20px;
}

.pricing-item::before {
    content: "";
    width: 11px;
    height: 11px;
    margin-right: 10px;
    display: inline-block;
    background-image: url("../assets/Ckechmark-1.svg");
}

.pricing-item-not::before {
    background-image: url("../assets/Close.svg");
}

.pricing-box .btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 64px;
    border-radius: 23px;
    border: none;
    position: relative;
    bottom: -25px;
    font-size: 13px;
}

.pricing-box .btn-redish {
    background-color: var(--color-redish);
}

.pricing-box .btn-primary {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.pricing-box .btn-green {
    background-color: var(--color-green);
}

/* BASIC BOX */
.pricing-box-basic {
    border: 1px solid var(--color-redish);
}

.pricing-box-basic .pricing-price {
    color: var(--color-redish);
    margin-bottom: 30px;
}

/* PROFESSIONAL BOX */
.pricing-box-professional {
    width: 405px;
    margin: 0 58px;
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
    border: 1px solid var(--color-primary);
}

.pricing-box-professional .pricing-type {
    font-size: 21px;
}

.pricing-box-professional .pricing-price {
    color: var(--color-primary);
}

.pricing-box-professional .pricing-item {
    margin-bottom: 28px;
}

/* PREMIUM BOX */
.pricing-box-premium {
    border: 1px solid var(--color-green);
}

.pricing-box-premium .pricing-price {
    color: var(--color-green);
}

/* CONTACT */
.contact {
    padding: 80px 100px;
    display: flex;
    justify-content: center;
}

.contact-column {
    width: 50%;
}

.contact-column2 {
    width: 440px;
}

.contact-title {
    font-family: var(--font-raleway);
    font-size: 49px;
    line-height: 57px;
}

.contact-text {
    font-size: 16px;
    line-height: 22px;
    margin: 22px 0 42px;
}

.contact-details {
    display: flex;
    justify-content: flex-start;
}

.details-item {
    color: var(--color-grey);
}

.details-item:first-of-type {
    margin-right: 20px;
}

.details-item img {
    margin-right: 10px;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field:first-of-type {
    margin-bottom: 42px;
}

.form-label {
    color: var(--color-primary);
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3.28px;
    line-height: 15px;
    text-transform: uppercase;
}

.form-input {
    border: none;
    border-bottom: 2px solid var(--color-grey);
    background-color: transparent;
    line-height: 43px;
}

.form-consent {
    margin-top: 30px;
}

.form-checkbox {
    display: block;
    position: relative;
    padding-left: 34px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
}

.form-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form-checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

.form-checkbox input:checked ~ span {
    background-image: url(../assets/Checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.form-checkbox .consent-text {
    font-size: 12px;
    color: rgba(112, 112, 112, 1);
    line-height: 17px;
    margin: 0 10px;
}

.form .cta {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding: 20px 97px;
    align-self: flex-end;
    color: white;
    background-color: var(--color-primary);
    border-radius: 35px;
    border: none;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    display: inline-block;
}