.footer {
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.16);
    background: $color-light-grey;
    padding: 20px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            flex-wrap: wrap;
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .logo {
            font-size: 1.875rem;
            margin-bottom: 7px;
            font-family: $font-raleway;
            color: $color-primary;
        }
    }

    &__copy {
        font-size: 0.6875rem;
        color: $color-grey;
        line-height: 0.9375rem;
    }

    &__icons a:first-child {
        margin-right: 20px;
    }
}