/* FORM */
.form {
    display: flex;
    flex-direction: column;

    @include tablet {
        margin-top: 30px;
    }

    &__field {
        display: flex;
        flex-direction: column;

        &:first-of-type {
            margin-bottom: 42px;
        }
    }

    &__label {
        color: $color-primary;
        font-size: 0.6875rem;
        font-weight: bold;
        letter-spacing: 0.1875rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
    }

    &__input {
        border: none;
        border-bottom: 2px solid $color-grey;
        background-color: transparent;
        line-height: 2.6875rem;
    }

    &__consent {
        margin-top: 30px;
    }

    &__checkbox {
        display: block;
        position: relative;
        padding-left: 34px;
        margin-bottom: 20px;
        cursor: pointer;
        font-size: 0.75rem;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked {
                ~ span {
                    background-image: url(../assets/Checkmark.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 50%;
                }
            }
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            background-color: $color-white;
            border: 1px solid $color-grey;
            border-radius: 4px;
        }

        .consent__text {
            font-size: 0.75rem;
            color: rgba(112, 112, 112, 1);
            line-height: 1.0625rem;
            margin: 0 10px;
        }
    }

    .btn {
        font-size: 0.8125rem;
        margin-top: 10px;
        padding: 20px 97px;
        align-self: flex-end;
    }
}